* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
  scroll-behavior: smooth;
  letter-spacing: 0.5px;
}

:root {
  --main-color: #a084e8;
  --text-color: #61677a;
  --bg-color: rgb(255, 255, 255)
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(239, 255, 245, 1) 90%,
      rgba(213, 255, 228, 1) 100%
    );
  --big-font: 3rem;
  --h2-font: 1.6rem;
  --p-font: 0.9rem;
}

::selection {
  background: var(--main-color);
  color: #fff;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

.before-header {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

header {
  position: fixed;
  justify-content: center;
  top: 0;
  margin: 10px;
  width: auto;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 170px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  transition: all 0.2s ease;
  border-radius: 50px;
  box-shadow: 0px 2px 10px 1px rgb(0, 0, 0, 0.1);
}

header:hover {
  box-shadow: 0px 15px 20px 1px rgb(0, 0, 0, 0.1);
}

.logo img {
  position: relative;
  top: 3px;
  width: 175px;
  margin: -10px 0;
  margin-left: -15px;
}

.navbar {
  display: flex;
  list-style: none;
}
.navbar a {
  color: #7a9d54;
  font-size: 1rem;
  padding: 0 20px;
  font-weight: 500;
  transition: all 0.1s ease;
}
.navbar a:hover {
  color: var(--main-color);
  background: rgb(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 10px 20px;
  backdrop-filter: blur(5px);
  box-shadow: 0px 2px 5px 1px rgb(0, 0, 0, 0.25);
}
#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

section {
  padding: 70px 17%;
}
.menu {
  margin-top: -6rem;
}
.about {
  display: grid;
  grid-gap: 2rem;
  align-items: center;
  padding-top: 5rem;
}
.about-img img {
  margin-top: 10px;
  max-width: 100%;
  width: 480px;
  height: auto;
}
.about-img .bullyingFoto {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.about-text span {
  color: var(--main-color);
  font-weight: 600;
  font-size: 20px;
}
.about-text h2 {
  font-size: var(--h2-font);
}
.about-text p {
  margin: 1.8rem 0 1.8rem;
  line-height: 1.7;
}

.heading span {
  color: var(--main-color);
  font-weight: 600;
  font-size: 20px;
}
.heading h2 {
  font-size: 30px;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 1.5rem;
  align-items: center;
}
.box {
  position: relative;
  margin-top: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #7a9d54;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.box-img {
  width: 220px;
  height: 220px;
}
.box-img img {
  width: 100%;
  height: 100%;
  background-image: url(img/);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 2px solid #fff;
}
.bx-img {
  width: 300px;
}
.bx-img img {
  width: 100%;
  height: 100%;
}

.box h2 {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #fff;
}
.box h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin: 2px 0 10px;
}
.box span {
  font-size: var(--p-font);
  font-weight: 600;
  background: var(--main-color);
  border-radius: 5px;
}
.box button {
  border: none;
  padding: 5px;
  background: none;
  color: #fff;
  cursor: pointer;
}
.box button a {
  color: #fff;
}
.box i {
  background: var(--main-color);
  position: absolute;
  right: 0;
  top: 0;
  font-size: 25px;
  padding: 7px 10px;
  border-radius: 0 0 0 5px;
}

@media (max-width: 1560px) {
  header {
    padding: 15px 40px;
  }
  :root {
    --big-font: 2.5rem;
    --h2-font: 1.4rem;
  }
}

@media (max-width: 1140px) {
  section {
    padding: 50px 8%;
  }
}

@media (max-width: 920px) {
  header {
    padding: 10px 16px;
  }
  .home {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .about-img {
    order: 2;
  }
  section {
    padding: 100px 7%;
  }

  #menu-icon {
    display: initial;
    color: var(--text-color);
    background: rgb(255, 255, 255)
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(239, 255, 245, 1) 90%,
        rgba(213, 255, 228, 1) 100%
      );
    border-radius: 5px;
    box-shadow: 0px 2px 10px 1px rgb(0, 0, 0, 0.1);
  }
  header .navbar {
    position: fixed;
    top: 55px;
    left: 48%;
    right: 52%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #feeee7;
    transition: 0.2s;
    width: 15px;
    height: 15px;
    overflow: hidden;
    opacity: 0;
    border-radius: 0 0 100px 100px;
  }
  header .navbar.open {
    background: #fff;
    top: 80px;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 170px;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255)
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(239, 255, 245, 1) 90%,
        rgba(213, 255, 228, 1) 100%
      );
    backdrop-filter: blur(5px);
    transition: all 0.2s ease;
    border-radius: 25px;
    box-shadow: 0px 2px 10px 1px rgb(0, 0, 0, 0.25);
  }
  .navbar a {
    padding: 2rem;
    display: block;
  }
  .navbar a:hover {
    color: var(--main-color);
    background: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 2rem;
    backdrop-filter: blur(5px);
    box-shadow: 0px 2px 5px 1px rgb(0, 0, 0, 0.25);
  }
}
